.center-block {
    margin: auto;
    width: 10%;
    padding: 20px;
    border: 3px solid black;
}

.input {
    margin-bottom: 5%;
    width: 100%;
}

.alert {
    padding: 20px;
    color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom: none;

}
.alert-red {
    background-color: #b72c28; /* Red */
}

.alert-green {
    background-color: #107a10; /* Green */
}